#page {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 10rem 1fr;
}

.header {
  background: var(--blue);
  grid-area: header;
  display: grid;
  align-items: center;
}

.sidebar {
  padding-top: 2rem;
  background: var(--white);
  grid-area: sidebar;
  border-right: 1px solid var(--default-border-color)
}

.sidebar li {
  height: 3rem;
}

.sidebar a {
  color: var(--sidebar-link);
  line-height: 3rem;
  display: block;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar a:hover {
  background-color: var(--sidebar-link-hover);
}

.sidebar .current {
  color: var(--blue);
  font-weight:bold;
}

.main {
  background: var(--white);
  grid-area: main;
  overflow-y: auto;
}

.main-header {
  background: var(--white);
  height: 8rem;
  padding-left: 2rem;
  padding-top: 5rem;
}

.main-header h1 {
  font-size: var(--header-xxlarge);
}

.main-content {
  margin-left: 2rem;
  margin-top: 2rem;
  max-width: 38em;

}

.main-content p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.logo {
  display:block;
}